.container-fluid{
  align-items: center;
  justify-items: center;
  margin: -45px -55px!important;
}
#navbarNav{
  flex-direction: column;
}
.navbar-nav{
  margin-top: 3.4rem;
}
.img-logo{
  height: 150px;
  width:150px;
  margin-top:-35px;
  margin-left:-150px;
}
.nav-item{
  font-size: 16px;
  font-weight: normal;
  display: inline;
  padding-left: 10px;
  list-style-type: none;
  padding: 2vh;
  padding-left: 7vh;
  font-family: "Comic Sans MS";
  /* margin: 35px 5px; */
}
.nav-link{
  color: black!important;
}
.nav-link:hover{
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .container-fluid{
    align-items: center;
    justify-items: center;
    margin: 5px!important;
  }
  .navbar{
    /* background-color:#ebeff2; */
    background-color:#eef2f5;
  }
  .navbar-nav{
    margin-top:5px;
    align-items: center;
  }
  .nav-item{
    font-size: 12px;
    padding: 2px;
  }
  .img-logo {
    height: 80px;
    width: 80px;
    margin:0px;
  }
  .dropdown{
    margin-left:-45px;
  }
}